@use "../variables" as *;
@use "../utils/mixins" as *;

.pos-page {
    @include respond-above(lg) {
        overflow: hidden;
    }
}
.pos-wrapper {
    // Header Menu
    .header {
        background: $white;
        width: 100%;
        border-bottom: 1px solid $gray-200;
        box-shadow: $box-shadow;
        @include respond-below(lg) {
            position: sticky;
            top: 0;
            z-index: 999;
        }
        .logo-light {
            display: none;
        }
        .header-menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .navbar-header {
                flex-grow: 1;
                margin: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: transparent;
                padding: 0px 0px 0px 25px;
                margin: 0px 0px 0px 24px;
                border-left: 1px solid $gray-200;
                border-bottom: 0;
                .toggle-btn {
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 20px;
                    color: $gray-900;
                }
            }
            .header-notification {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                margin: 0;
                gap: 12px;
                li {
                    .btn-icon {
                        width: 32px;
                        height: 32px;
                        border: 1px solid $gray-200;
                        background: $white;
                        border-radius: 50%;
                        color: $gray-900;
                        transition: all 0.6s;
                        &:hover {
                            background: $light-900;
                        }
                    }
                }
                .profile-icon {
                    overflow: hidden;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
         }
    }

    // Page Wrapper
    .page-wrapper {
        padding: 0;
        margin: 0;
        .content {
            padding: 0;
        }
        .pos-right {
            background: $white;
            border-left: 1px solid $gray-200;
            
            @include respond-above(lg) {
                height: calc(100vh - 58px);                 
                overflow-y: auto;
            }   
            .item {
                padding: 16px;
            }
            .input-item {
                position: relative;
                border: 1px solid $border-color;
                border-radius: $border-radius;
                input {
                    padding: 8px 35px 8px 12px;
                }
                .select2-container {
                    .select2-selection--single {
                        border: 0;
                        .select2-selection__rendered {
                            box-shadow: none;
                        }
                    }
                }
                .btn-icon {
                    position: absolute;
                    right: 8px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 24px;
                    height: 24px;
                    border-radius: 5px !important
                }
            }
        }
        .pos-left {
            padding: 20px;
            @include respond-above(lg) {
                height: calc(100vh - 58px);                 
                overflow-y: auto;
            }   
            .order-item {
                padding: 12px;
                border: 1px solid $gray-200;
                background: $white;
                border-radius: 5px;
                .time {
                    padding: 3px 8px 3px 4px !important;
                    display: inline-flex;
                    align-items: center;
                    span {
                        width: 18px;
                        height: 18px;
                        border-radius: 50%;
                        background: $white;
                        display: inline-flex;
                        color: $gray-900;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
            .category-tab  {
                .nav-link {
                    border: 1px solid $border-color;
                    margin: 0;
                    &.active {
                        background: $white;
                        border: 1px solid $primary;
                    }
                }
            }
        }
        .nav-tabs  {
            .nav-link {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 8px 16px;
                font-weight: $font-weight-medium;
                border: 1px solid $border-color;
                &:hover, &.active {
                    border-color: $primary;
                }
            }
        }            
        .pos-tab {
            .nav-item {
                @include respond-below(xl) {
                    width: calc(50% - 4px);
                }
                @include respond-below(lg) {
                    width: calc(25% - 4px);
                }
                @include respond-below(sm) {
                    width: calc(50% - 4px);
                }
                .nav-link { 
                    padding: 8px;
                    gap: 4px;
                }
            }
        }
    }
}

.food-grid-item {
    padding: 12px;
    background: $white;
    border: 1px solid $border-color;
    border-radius: 8px;
    .food-items {
        position: relative;
        margin-bottom: 12px;
        .badge {
            padding: 2px 8px 2px 8px !important;
            display: flex;
            align-items: center;
            gap: 4px;
            border-radius: 0px 5px 5px 0px;
            position: absolute;
            top: 13px;
            left: 0;
        }
    }
}
.food-items {
    .badge {
        padding: 2px 8px 2px 8px !important;
        display: flex;
        align-items: center;
        gap: 4px;
        border-radius: 0px 5px 5px 0px;
        position: absolute;
        top: 13px;
        left: 0;
    }
}
.size-tab {
    .tag {
        padding: 6px 8px;
        border: 2px solid $gray-200;
        font-size: 13px;
        font-weight: $font-weight-medium;
        color: $gray-900;
        border-radius: 6px;
        background: transparent;
    }
    &.active {
        .tag {
            border: 2px solid $primary !important;
        }
    }
}



.calci {
    .modal-dialog {
        width: 400px;
    }
}

.calculator-wrap {
    .calculator-body {
        background: $white;
        padding: 24px 40px 40px;
        align-items: center;
        justify-content: center !important;
        gap: 24px;
        @include respond-below(md) {
            padding: 20px;
        }
        button {
            font-size: 20px;
            font-weight: $font-weight-medium;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 24px;
            &:hover {
                box-shadow: $box-shadow;
                background: $primary;
                color: $white;
                border: 1px solid $primary;
            }
            &:last-child {
                margin-bottom: 0;
            }
            @include respond-below(md) {
                font-size: 22px;
            }
        }
        .btn-number {
            width: 60px;
            height: 60px;
            background: $white;
            border-radius: 50%;
            border: 1px solid $gray-200;
            box-shadow: $inset-shadow;
            @include rounded(50%);
            @include respond-below(md) {
                width: 38px;
                height: 38px;
            }
        }
        .btn-expression {
            width: 60px;
            height: 60px;
            background: $white;
            border-radius: 50%;
            border: 1px solid $gray-200;
            box-shadow: $inset-shadow;
            @include rounded(50%);
            @include respond-below(md) {
                width: 38px;
                height: 38px;
            }
        }
        .btn-clear {
            width: 60px;
            height: 60px;
            background: $white;
            border-radius: 50%;
            border: 1px solid $gray-200;
            box-shadow: $inset-shadow;
            @include respond-below(md) {
                width: 38px;
                height: 38px;
            }
        }
    }
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 80px;
    .minus-btn {
        width: 20px;
        height: 20px;
        background: var(--light);
        border-radius: 50%;
        border: 1px solid $gray-200;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        &:hover {
            background: $primary;
            color: $white;
            border: 1px solid $primary;
        }   
    }
    .add-btn {
        width: 20px;
        height: 20px;
        background: var(--light);
        border-radius: 50%;
        border: 1px solid $gray-200;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        &:hover {
            background: $primary;
            color: $white;
            border: 1px solid $primary;
        }
    }
    .quantity-input {
        width: 20px;
        text-align: center;
        border: none;
        background: transparent;   
        border: none;
        outline: none;
    }
}

.slick-slide {
    & > div {
        margin: 0px 8px;
    }
}
.slick-list {
    margin: 0px -8px;
}
.slick-arrow {
    width: 32px;
    height: 32px;
    border: 1px solid $gray-200;
    background: $white;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition:  all 0.5s;
    &:hover {
        background: $primary;
        color: $white;
        border: 1px solid $primary;
    }
}
.category-slider {
    .slick-slide {
        & > div {
            margin: 0px 8px;
        }
    }
    .slick-list {
        margin: 0px -8px;
    }
}
.menu-item {
    &.active {
        border-color: $primary !important;
    }
    .close-icon {
        &:hover {
            background: $danger;
            border-color: $danger;
            color: $darkmode-white !important;
        }
    }
}
.addon-item {
    &.active {
        border-color: $primary !important;
    }
}
.drag-item.dragging {
    opacity: 0.5;
    background: $light;
    border: 1px dashed $light;
}

.drag-item {
    transition: transform 0.1s ease;
    & > label {
        cursor: grab;
    }
}
.input-item {
    position: relative;
    border: 1px solid $border-color;
    border-radius: $border-radius;
    input {
        padding: 8px 35px 8px 12px;
    }
    .select2-container {
        .select2-selection--single {
            border: 0;
            .select2-selection__rendered {
                box-shadow: none;
            }
        }
    }
    .btn-icon {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 24px;
        height: 24px;
        border-radius: 5px !important
    }
}

